
/* space between objs*/
span {
  margin: 34px;
}

.center2 {
text-align: center;
}

.button_space{
  padding-bottom: 25px;
}

input[type=text]{
    width: 26%;
    border:2px solid #e4e4e4;
    border-radius:7px;
    margin:10px 0;
    outline:none;
    padding:11px;
    box-sizing:border-box;
    transition:.3s;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 400;

  }

  input[type=text]:focus{
    /*border color:  #D3D3D3 and box shadow #0000ff*/
    border-color: #487596;
    box-shadow:0 0 8px 0 #487596;
}

.save-button {
    display: inline-block;
    width:150px;
    height:40px;
    line-height:40px;
    border: 2px solid #f5f5f5;
    border-radius: 12px;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #006fba;
    /** box-shadow: 0 0 3px gray; **/
}

.cancel-button {
    display: inline-block;
    width:100px;
    height:40px;
    line-height:40px;
    border: 2px solid #f5f5f5;
    border-radius: 12px;
    color: #f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #f44336;
    /** box-shadow: 0 0 3px gray; **/
}
.round-button:hover {
    background: #efffff;
}

.cancel-button:hover {
    background: #ce2121;
    color: #ffffff;
}

.save-button:hover {
    background: #005e9e;
    color: #ffffff;
}
/** drop down buttons **/
.center-on-page {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%,-50%);
}
h1 {
  text-align: center;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0 ;
  box-shadow: none;
  /*border of box */
  border: 2 #9bd0f7!important;
  /*make light blue #9bd0f7*/
  background: #ddf1ff;
  background-image: none;
  right: 30px;
}
/* Custom Select */
.select {
  letter-spacing: -0.01em;
  left:430px; 
  top:5px; 
  position: relative; 
  display: block;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  /** font size of buttons **/
  font-size: 14px;
  color: #487596;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  /*the background color of the small box on the right*/
  background: #487596;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #3b627f;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.upload-btn-wrapper {
  position: relative;
  left: 500px; 
  overflow: hidden;
  display: inline-block;
}
/*profile image button*/
.btn {
  border: 2px solid #487596;
  color: white;
  /*font color   color: #006fba; */
  background-color:  #487596;
  /* background-color: white; */
  padding: 8px 20px;
  border-radius: 8px;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-size: 20px;
  /* font-weight: bold; */
  width: 400px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  right: 50px;
  top: 0;
  opacity: 0;
}

/**age button**/

input[type=number]{
    width: 16%;
    border:2px solid #e4e4e4;
    border-radius:7px;
    margin:10px 0;
    outline:none;
    padding:11px;
    box-sizing:border-box;
    transition:.3s;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 23%;
    left: 58%;
    transform: translate(-50%,-50%);
  }

  input[number=text]:focus{
    /*border color:  #D3D3D3 and box shadow #0000ff*/
    border-color: #487596;
    box-shadow:0 0 8px 0 #487596;
}

